@font-face {
  font-family: 'font-icon-luu-but';
  src:  url('fonts/font-icon-luu-but.eot?c6fbs4');
  src:  url('fonts/font-icon-luu-but.eot?c6fbs4#iefix') format('embedded-opentype'),
    url('fonts/font-icon-luu-but.ttf?c6fbs4') format('truetype'),
    url('fonts/font-icon-luu-but.woff?c6fbs4') format('woff'),
    url('fonts/font-icon-luu-but.svg?c6fbs4#font-icon-luu-but') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.lb {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon-luu-but' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: "\e900";
}
.icon-alert-triangle:before {
  content: "\e901";
}
.icon-alert-triangle-solid:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-at-sign:before {
  content: "\e907";
}
.icon-bell:before {
  content: "\e908";
}
.icon-bell-solid:before {
  content: "\e909";
}
.icon-block:before {
  content: "\e90a";
}
.icon-bookmark:before {
  content: "\e90b";
}
.icon-bookmark-solid:before {
  content: "\e90c";
}
.icon-cake:before {
  content: "\e90d";
}
.icon-cake-solid:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-calendar-1:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e911";
}
.icon-camera-solid:before {
  content: "\e912";
}
.icon-chat-group:before {
  content: "\e913";
}
.icon-chat-group-solid:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e915";
}
.icon-chevron-down:before {
  content: "\e916";
}
.icon-chevron-left:before {
  content: "\e917";
}
.icon-chevron-right:before {
  content: "\e918";
}
.icon-chevron-up:before {
  content: "\e919";
}
.icon-color-lens:before {
  content: "\e91a";
}
.icon-color-lens-solid:before {
  content: "\e91b";
}
.icon-directory:before {
  content: "\e91c";
}
.icon-earth:before {
  content: "\e91d";
}
.icon-earth-solid:before {
  content: "\e91e";
}
.icon-edit:before {
  content: "\e91f";
}
.icon-edit-solid:before {
  content: "\e920";
}
.icon-eye:before {
  content: "\e921";
}
.icon-eye-off:before {
  content: "\e922";
}
.icon-film:before {
  content: "\e923";
}
.icon-film-solid:before {
  content: "\e924";
}
.icon-group-user:before {
  content: "\e925";
}
.icon-group-user-2:before {
  content: "\e926";
}
.icon-group-user-2-solid:before {
  content: "\e927";
}
.icon-group-user-solid:before {
  content: "\e928";
}
.icon-hand:before {
  content: "\e929";
}
.icon-hand-solid:before {
  content: "\e92a";
}
.icon-hash:before {
  content: "\e92b";
}
.icon-heart:before {
  content: "\e92c";
}
.icon-heart-solid:before {
  content: "\e92d";
}
.icon-help-circle:before {
  content: "\e92e";
}
.icon-help-circle-solid:before {
  content: "\e92f";
}
.icon-home:before {
  content: "\e930";
}
.icon-home-solid:before {
  content: "\e931";
}
.icon-image:before {
  content: "\e932";
}
.icon-image-play:before {
  content: "\e933";
}
.icon-image-solid:before {
  content: "\e934";
}
.icon-info:before {
  content: "\e935";
}
.icon-info-solid:before {
  content: "\e936";
}
.icon-link:before {
  content: "\e937";
}
.icon-list:before {
  content: "\e938";
}
.icon-list-items:before {
  content: "\e939";
}
.icon-list-items-1:before {
  content: "\e93a";
}
.icon-list-items-solid:before {
  content: "\e93b";
}
.icon-list-solid:before {
  content: "\e93c";
}
.icon-lock:before {
  content: "\e93d";
}
.icon-lock-solid:before {
  content: "\e93e";
}
.icon-logo:before {
  content: "\e93f";
}
.icon-logout:before {
  content: "\e940";
}
.icon-mail:before {
  content: "\e941";
}
.icon-mail-solid:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e943";
}
.icon-message:before {
  content: "\e944";
}
.icon-message-solid:before {
  content: "\e945";
}
.icon-message-square-warning:before {
  content: "\e946";
}
.icon-message-square-warning-solid:before {
  content: "\e947";
}
.icon-message-warning:before {
  content: "\e948";
}
.icon-message-warning-solid:before {
  content: "\e949";
}
.icon-more-h:before {
  content: "\e94a";
}
.icon-more-h-solid:before {
  content: "\e94b";
}
.icon-more-v:before {
  content: "\e94c";
}
.icon-more-v-solid:before {
  content: "\e94d";
}
.icon-mute-notifications:before {
  content: "\e94e";
}
.icon-notice:before {
  content: "\e94f";
}
.icon-notice-solid:before {
  content: "\e950";
}
.icon-page-info:before {
  content: "\e951";
}
.icon-page-info-solid:before {
  content: "\e952";
}
.icon-pencil:before {
  content: "\e953";
}
.icon-pencil-solid:before {
  content: "\e954";
}
.icon-plus:before {
  content: "\e955";
}
.icon-push-pin:before {
  content: "\e956";
}
.icon-push-pin-solid:before {
  content: "\e957";
}
.icon-repeat:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e959";
}
.icon-settings:before {
  content: "\e95a";
}
.icon-settings-solid:before {
  content: "\e95b";
}
.icon-share:before {
  content: "\e95c";
}
.icon-share-solid:before {
  content: "\e95d";
}
.icon-smile:before {
  content: "\e95e";
}
.icon-smile-solid:before {
  content: "\e95f";
}
.icon-suitcase:before {
  content: "\e960";
}
.icon-suitcase-solid:before {
  content: "\e961";
}
.icon-trash:before {
  content: "\e962";
}
.icon-trash-solid:before {
  content: "\e963";
}
.icon-tv-minimal-play:before {
  content: "\e964";
}
.icon-tv-minimal-play-solid:before {
  content: "\e965";
}
.icon-twinkle-solid:before {
  content: "\e966";
}
.icon-unblock:before {
  content: "\e967";
}
.icon-user:before {
  content: "\e968";
}
.icon-user-circle:before {
  content: "\e969";
}
.icon-user-circle-solid:before {
  content: "\e96a";
}
.icon-user-follow:before {
  content: "\e96b";
}
.icon-user-solid:before {
  content: "\e96c";
}
.icon-user-square:before {
  content: "\e96d";
}
.icon-user-square-solid:before {
  content: "\e96e";
}
.icon-user-unfollow:before {
  content: "\e96f";
}
.icon-x:before {
  content: "\e970";
}
.icon-x-solid:before {
  content: "\e971";
}
